.btn {
   display: block;
   margin: 10px auto;
   padding: 8px 16px;
   font-size: 20px;
   text-transform: uppercase;
   border: none;
   border-radius: 20px;
   background-color: rgb(202, 114, 114);
   color: whitesmoke;
   box-shadow: 0px 0px 10px 6px #ec86fa;
}
.btn:hover {
   color: #ec86fa;
   transition: background-color 450ms ease, color 650ms ease;
}
.btn:active {
   background: #b7bcd9;
   box-shadow: none;
   color: whitesmoke;
}
