.input {
   font-size: 20px;
   padding: 10px;
   color: maroon;
   display: block;
   margin: 0 auto;
   border: none;
   outline: none;
   text-align: center;
}
.btn {
   font-size: 20px;
   padding: 10px;
   display: block;
   margin: 0 auto;
   border: none;
   outline: none;
   color: whitesmoke;
   background-color: gray;
   width: 271px;
   box-sizing: border-box;
   text-transform: uppercase;
}
.ul {
   height: 50%;
   list-style-type: none;
   margin: 0 auto;
   padding: 20px 0;
   color: blanchedalmond;
   font-size: 16px;
}
